<!DOCTYPE html>
<html>
  <head>
    <title>SECUMOB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>BANQUE DE FRANCE</h1>
      <br>
      <p>Se deconnecter : <a href="/logout">ici</a></p>
    </div>
  </body>
</html>